<%- include('headerAdmin') -%>
<%- include('menu') -%>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">My Awesome Car Dealership
        <small class="my-0 font-italic">browse from our cars</small>
    </h1>
<% cars.forEach(function(Cars) { %>
    <!-- Car -->
    <div class="row">
        <div class="col-md-7">
            <a href="/shop/<%= Cars._id%>">
                <img class="img-fluid rounded mb-3 mb-md-0" src="/images/Cars/mercedes.jpg" alt="" id="carid" style="width: 100%">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Model name: <%= Cars.brand %></h3>
            <p>Year: <%= Cars.year %></p>
            <p>Mileage: <%= Cars.mileage %></p>
            <p>Price: €<%= Cars.price %></p>
            <a class="btn btn-sm btn-dark" href="/shop/<%= Cars._id %>">View Car</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
<% }); %>
</div>
<!-- /.container -->
<%- include('footer') -%>
