<%- include('headerAdmin') -%>
<%- include('menuAdmin') -%>

<h2 class="d-flex justify-content-center" style="margin-top: 50px">Change here the car's details</h2>
<hr style="width: 30%">
<h1></h1>
<div>
    <form method="post" class="custom-form">
        <% if (typeof(error) !== 'undefined') { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% } %>
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputFile" aria-describedby="inputFile">
                <label class="custom-file-label" for="inputFile" style="color: grey">Upload picture of the car</label>
            </div>
        </div>
        <div class="form-group" style="margin-top: 15px">
            <label for="brand">Model Name:</label><input type="text" class="form-control" id="brand" name="brand" <% if (car === 'undefined') {%>placeholder="Model name">
            <% } else { %>
                value="<%= car.brand %>">
            <% } %>
        </div>
            <div class="form-group">
                <label for="year">Year:</label><input type="text" class="form-control" id="year" name="year" <% if (car === 'undefined') {%>placeholder="Year">
                <% } else { %>
                    value="<%= car.year %>">
                <% } %>
            </div>
        <div class="form-group">
            <label for="mileage">Mileage: (km)</label><input type="text" class="form-control" id="mileage" name="mileage" <% if (car === 'undefined') {%>placeholder="Mileage (km)">
            <% } else { %>
                value="<%= car.mileage %>">
            <% } %>
        </div>
        <div class="form-group">
            <label for="price">Price: (€)</label><input type="text" class="form-control" id="price" name="price" <% if (car === 'undefined') {%>placeholder="Price €">
            <% } else { %>
                value="<%= car.price %>"
            <% } %>
        </div>
        <div class="form-group" style="margin-top: 15px">
            <label for="description">Description:</label><input type="text" class="form-control" id="description" name="description" <% if (car === 'undefined') {%>placeholder="Description">
            <% } else { %>
                value="<%= car.description %>">
            <% } %>
        </div>
        <div>
            <input type="submit" value="Edit car" class="btn btn-dark" style="margin-left: auto; width: 100%; text-decoration: none">
        </div>
    </form>
</div>
<%- include('footer') -%>