<%- include('headerAdmin') -%>
<%- include('menu') -%>

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4"><%= car.brand %></h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="/images/Cars/porsche.jpg" alt="" style="width: 700px">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Description</h3>
            <p><%= car.description %></p>
            <hr>
            <h3 class="my-3"> Details</h3>
            <ul>
                <li>Year: <%= car.year %></li>
                <li>Mileage: <%= car.mileage%> km</li>
                <li>Price: €<%= car.price %></li>
            </ul>
            <hr>
            <a href="/shop/buy/<%= car._id %>" style="text-decoration: none"><button class="button btn btn-sm btn-danger d-inline justify-content-center" id="buy" style="width: auto; text-decoration: none">Buy</button></a>
            <a href="/shop" style="text-decoration: none"><button class="button btn btn-sm btn-outline-secondary d-inline justify-content-center" style="width: auto">Cancel</button></a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<%- include('footer') -%>